html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.not-found {
  text-align: center;
}
.heroBtn {
  padding: 16px;
  background: #f1a501;
  border-radius: 30px;
  left: -25px;
}
.heroBtn:hover {
  background: #f1a501;
}
.MuiOutlinedInput-root {
  border-radius: 30px 0px 0px 30px !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.cta {
  display: flex;
  align-items: center;
}
.signinBtn {
  color: #f1a501;
}
.signupBtn {
  background: #f1a501;
  color: #fff;
  border-radius: 20px;
}
.signupBtn:hover {
  color: #000;
}
.footer {
  background: #fafbff;
  padding: 50px;
}
.footerLinks a {
  display: flex;
  padding: 5px 0px 5px 0px;
}
